{% if movie is defined %}
  {{ movie["title"] }}, est un film sortie en {{ movie["release_date"][:4] }}.
  {{ movie["title"] }} est un film de {{ movie["genres"]|map(attribute='name')|join(', ') }}

  Synopsis :
  {{ movie["overview"] }}
  
  {% if movie['credits'] is defined %}
    {% set actors = movie['credits']['cast'] %}
    Les principaux acteurs sont: {{ actors[:5]|map(attribute='name')|join(', ') }}
  {% endif %}
{% else %}
    Aucun film trouvé
{% endif %}
